body {
    font-family: Arial, sans-serif;
}

.hert {
    text-align: center;
    background-color: rgb(192, 232, 255);
    border: 2px solid red; 
    border-radius:20px;
}

.section-title {
    color:green;
    background-color: yellow;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
}

.animal-images {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.animal-images img {
    width: 600px;
    height: auto;
    border: 2px solid gray;
}

.video {
    text-align: center;
    margin: 20px 0;
    
}

.form-section {
    text-align: left;
   color: green;
    margin: 20px 0;
}

.table-section {
    text-align: center;
    margin: 20px 0;
}

table {
    width: 60%;
    /* margin: 0 auto; */
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: yellow;
}

.submit-button {
    margin-top: 10px;
    padding: 10px 70px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
.submit-button:hover {
    background-color: darkblue;
    
}
.red{
    background-color: rgb(255, 30, 30);
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.green{
    background-color:green;
    color: white;
}
.black{
    background-color: black;
    color: white;
}
div .div{
    border-radius:10px;
    background-color: black;
}
b{
    color:red;
}
h3{
    color: green;
}

